/* tags gerais */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Open+Sans:wght@800&family=Roboto:wght@300;400;500;700;900&display=swap');


main, .main {
    position: relative;
    z-index: 1;
}
