.navbar{
    display: flex;
    justify-content: space-between;
    background-color:#222;
    padding: 1em; 
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    font-size: 1.5rem;
}

.item a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5%;
}

.item a:focus{
    border-bottom: 2px solid #ffbb33;
}

.activeLink {
    border-bottom: 2px solid #ffbb33;
    /* Outros estilos para o link da página atual, se necessário */
  }
  
.navBarr {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin:  0 30px;
    color: #fff;
}

.navBarr h1 {
    padding-left: 30px;
    font-size: 2rem;
}

.navBarr h1 span{
    color: #ffbb33;
}

