section{
    background-color: #FFFFFF;
}

.BackgroundImg{
    background-image: URL("../../img/background_voluntario.png");
    background-size: cover;
    width: 100%;
    height: 361px;
}



@media(max-width:1200px){
    .BackgroundImg{
        background-image: 100%;
        background-size: cover;
        width: 100%;
        height: 361px;

    }

}