

.sectionLayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content:center;
    height: 500px;
    background: linear-gradient(to bottom, #1E1E1E 50%, #FFFFFF 50%);
    font-size: 65%;
}


.cardsLayout{
    width: 200px;
    height: 280px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #FFFFFF;
    align-items:center;
    text-align: center;
}

.projectInfo img{
    width: 80px;
    height: 82.715px;
    margin: 5px;

}


.projectInfo h4{
    color: black;
    font-family: Aoboshi One;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectInfo p{
    color: black;
    font-family: Aoboshi One;
    font-weight: 400;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btnsCards{
    display: flex;
    width: 119px;
    height: 25px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FCA311;
    margin: 7px;
    text-decoration: none;
}

.btnsCards a{
    color: #000000;
    text-decoration: none;
    font-family: Aoboshi One;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.cardDif{
    display: flex;
    width: 540px;
    height: 272px;
}

.cardStyle{
    text-align: center;
}

.cardStyle img{
    align-items: center;
}

.cardStyle h4{
    text-align: center;
    font-family: Aoboshi One;
    font-size: 15px;
    font-weight: bolder;
    line-height: normal;
    margin-top: 5px;
}

.cardStyle p{
    text-align: center;
    font-family: Aoboshi One;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.layout{
    margin-top: 15px;
}
.conteudo{
    display: flex;
    align-items:center;
    justify-content: space-around;
} 

.infosCard{
    border: 1px solid #000;
    background: #FFE500;
    color:#000000;
    
}

.cardImage{
    width: 291px;
    height: 273px;

}

@media(max-width:1200px){

    section{
        max-width: 100%;
        max-height: 100%;
    }
    .sectionLayout{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background:#1E1E1E;
        height: 1100px;

    }

    
}