section{
    background-color: #FFFFFF;
}

.BackgroundImg{
    background-image: URL("../../img/background_voluntario.png");
    background-size: cover;
    width: 101%;
    height: 361px;
}

.ConteudoDiv{
    text-align: center;

}